@import "/styles/mixin.scss";

.container {
  background-color: #fbfbfb;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  @include mobile {
    flex-direction: column;
  }
  @include laptop {
    flex-direction: column;
  }
  @include desktop {
  }
}

.education_container {
  width: 100%;
}
