.menu_item {
  cursor: pointer;
  border-top: 1px solid black;
  padding: 5px;
}

.icon_container {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 5px;
  text-shadow: none;
  position: relative;
  text-decoration: none;
  color: black;
  width: 100%;
}
.icon_container:hover::before {
  position: absolute;
  left: 30%;
  overflow: hidden;
  font-weight: 800;
  max-height: 0;
  content: attr(data-text) " " attr(data-color);
  transition: 0.35s;
}
.icon_container:hover .icon {
  background-color: #4dabf7;
}
.icon_container:hover .icon_name {
  display: none;
}

.icon_container:hover::before {
  max-height: 100%;
  transition: 0.5s;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  border: 2px solid #adb5bd;
  text-align: center;
  padding-top: 10px;
}