.textarea {
  color: rgb(59, 61, 64);
  /* height: 34px; */
  /* margin: 30px; */
  /* border: none; */
  /* outline: none; */
  max-height: 100px;
  resize: none;
  width: 100%;
  line-height: 22px;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  caret-color: #000;
  overflow: hidden;
  line-height: 22px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  resize: none;
  border: none;
  outline: none;
  margin-bottom: 30px;
}
