.profile_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_setting_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  border: 1px solid rgba(112, 115, 124, 0.22);
  border-radius: 14px;
  padding: 20px 20px 15px;

  & ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    border-bottom: 1px solid rgba(112, 115, 124, 0.22);
  }
}
