.container {
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

.title {
  text-align: center;
  margin-bottom: 35px;
}

.select_container {
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid var(--light-gray-border);
  background-color: var(--white);
  position: relative;
  margin-bottom: 30px;
}

.select {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Optional: Remove default appearance */
  outline: none; /* Optional: Remove outline on focus */
  z-index: 1;
  padding-left: 10px;
}

.button {
  width: 100%;
  height: 48px;
  min-height: 48px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--blue-button-background);
  border: none;
  color: var(--white);
  text-align: center;
}
.button.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.button_container {
  padding: 10px;
}

.icon_container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.textarea {
  width: 100%;
  height: 192px;
  min-height: 50px;
  padding: 20px;
  outline: none;
  resize: none;
  background-color: transparent;
  border: 1px solid rgba(112, 115, 124, 0.22);
  color: rgb(23, 23, 25);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  display: none;
}
.textarea.show {
  display: block;
}