@import "/styles/mixin.scss";

.container {
  border: 5px solid blue;
}

.grid_container {
  border: 5px solid green;
  display: grid;
  grid-template-columns: 1fr 2px 2fr;
  column-gap: 20px; /* 열과 열 사이의 간격을 20px로 설정 */
  margin: 0 auto;

  @include mobile {
    grid-template-columns: 1fr;
    width: 95%;
    column-gap: 30px;
  }
  @include laptop {
    grid-template-columns: 1fr;
    width: 95%;
    column-gap: 30px;
  }
  @include desktop {
    grid-template-columns: 1fr 2px 2fr;
    width: 90%;
    column-gap: 20px;
  }
}

.divider {
  background-color: rgb(218, 216, 216);
  border: 1px solid rgb(218, 216, 216);
}

// grid 1
.menu_container {
  // border: 5px solid blue;
}

// grid2
.myprofile_container {
  display: flex;
  flex-direction: column;
}

.myinfo_section {
  display: flex;
  border: 5px solid red;
  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }
  @include laptop {
    flex-direction: column;
    align-items: flex-start;
  }
  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.settings {
  border: 1px solid green;

  @include mobile {
    width: 100%;
  }
  @include laptop {
    width: 100%;
  }
  @include desktop {
  }
}

.addbutton_section {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

// munulist
.menu_list {
  @include mobile {
    display: flex;
  }
  @include laptop {
    display: flex;
  }
  @include desktop {
    display: flex;
    flex-direction: column;
  }
  & li {
    cursor: pointer;
    padding: 10px;
    // border: 5px solid blue;
    margin-left: 5px;
    margin-bottom: 10px;
    &:hover {
      background-color: rgba(55, 56, 60, 0.1);
      transition: opacity 0.2s ease;
      border-radius: 5px;
    }
  }
}

.menu_list_divider {
  @include mobile {
    display: none;
  }
  @include laptop {
    display: none;
  }
  @include desktop {
    display: black;
  }
}
.text {
  font-size: 20px;
}
