@import "/styles/mixin.scss";

.grid_container {
  display: grid;
  grid-template-columns: 1fr 2px 2fr;
  column-gap: 20px; /* 열과 열 사이의 간격을 20px로 설정 */
  row-gap: 10px;
  margin: 0 auto;

  @include mobile {
    grid-template-columns: 1fr;
    width: 95%;
    column-gap: 30px;
  }
  @include laptop {
    grid-template-columns: 1fr;
    width: 95%;
    column-gap: 30px;
  }
  @include desktop {
    grid-template-columns: 1fr 2px 2fr;
    width: 90%;
    column-gap: 20px;
  }
}
