@import "/styles/mixin.scss";

.grid_container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  border: 5px solid black;
  row-gap: 10px;
  width: 80%;
  margin: 0 auto;

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
  @include laptop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
  @include desktop {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
  }
}
