.carousel_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.arrow_container {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: 18px;
}

.button_container {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}