@import "/styles/mixin.scss";

.container {
  display: grid;
  margin: 0 auto;
  margin-top: 100px;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 20px;
  }
  @include laptop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }
  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}

.item_container {
  position: relative;
}

.item {
  border: 5px solid #228be6;
  height: 150px;
  text-align: center;
  cursor: pointer;
}

.friend_message_container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  column-gap: 10px;
  padding: 5px;
}

.friend {
  cursor: pointer;
  z-index: 10;
}
.message {
  cursor: pointer;
  z-index: 10;
}
// .bookmark {
//   cursor: pointer;
//   position: absolute;
//   top: 0;
//   right: 0;
//   z-index: 10;
// }
