@import "/styles/mixin.scss";

.container {
  margin: 0 auto;
  margin-top: 100px;

  @include mobile {
    width: 100%;
  }
  @include laptop {
    width: 95%;
  }
  @include desktop {
    width: 80%;
  }
}

.portpolio_name_container {
  margin-bottom: 30px;
}

.profile_container {
  margin-bottom: 50px;
}
