.container {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: 5px;
  background-color: #fff;
  top: 170px;
  z-index: 5;
}

.list_item {
  width: 100%;
  padding: 10px;
  z-index: 8;
}