@import "/styles/mixin.scss";

.slide_menu_container {
  width: 250px;
  max-width: 250px;
  transition: all 0.5s ease-in-out 0s;
  position: fixed;
  left: 44px;
  border-radius: 5px;
}

.slide_menu {
  position: relative;
  border: 3px solid var(--gray-border);
  z-index: 10;
}

.image_box {
  padding: 15px;
  height: 250px;
  // width: 100%;
}

.menu_name {
  // border: 5px solid black;
  list-style: none;
}
