.slide_menu_container {
  width: 230px;
  transition: all 0.5s ease-in-out 0s;
  position: fixed;
  left: 44px;
  border: 5px solid blue;
}

.slide_menu {
  position: relative;
  border: 5px solid green;
  z-index: 10;
}

.user_info {
  border: 5px solid red;
}

.image_box {
  padding: 10px;
}

.menu_name {
  border: 5px solid black;
  list-style: none;
}
