@import "/styles/mixin.scss";

.slide_menu_container {
  width: 250px;
  max-width: 250px;
  transition: all 0.5s ease-in-out 0s;
  position: fixed;
  left: 22px;
  border-radius: 5px;
}

.slide_menu {
  position: relative;
  border: 3px solid var(--gray-border);
  z-index: 10;
}

.image_box {
  height: 250px;
  padding: 10px;
  background: #e4e6ed;
}

.menu_name {
  list-style: none;
}
