@import "/styles/mixin.scss";

.container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  background-color: var(--white); /* 다른 변수 사용 예시 */
  //   position: fixed;
  //   top: 0;
  //   z-index: 800;
  width: 100%;
}

.navigation_container {
  width: 90%;
  margin: 0 auto;
  //   @include mobile {
  //   }
  //   @include laptop {
  //   }
  //   @include desktop {
  //   }
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 5px solid red;
}

//
.menubar_list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  list-style: none;
  border: 5px solid green;

  & li {
    margin-right: 40px;
    transition: color 0.3s ease;
    cursor: pointer;
    border: 5px solid yellow;   
    padding: 10px;

    &:hover {
      color: gray;
    }
  }
}
