@import "/styles/mixin.scss";

.container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  background-color: var(--white); /* 다른 변수 사용 예시 */
  // border: 5px solid red;
  position: fixed;
  width: 100%;

  z-index: 1000;

  // height: 0px;

  // margin: 0 auto;
}

.navigation_container {
  margin: 0 auto;
  border: 5px solid blue;

  // width: 100%;
  // top: 0;

  @include mobile {
    width: 100%;
  }
  @include laptop {
    width: 95%;
  }
  @include desktop {
    width: 80%;
  }

  &.hidden {
    @include mobile {
      display: none;
    }
    @include laptop {
      display: none;
    }
    @include desktop {
      display: block;
    }
  }
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 5px solid green;
  width: 100%;

  & ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
  }
  & li {
    margin-right: 20px;
    transition: color 0.3s ease;
    cursor: pointer;
    padding: 10px;
  }
}

.first_navigation_section {
  @include mobile {
    visibility: hidden;
  }
  @include laptop {
    visibility: hidden;
  }
  @include desktop {
  }
}
