@import "/styles/mixin.scss";

.container {
  border: 5px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  @include mobile {
    width: 100%;
  }
  @include laptop {
    width: 95%;
  }
  @include desktop {
    width: 95%;
  }
}
.button {
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(112, 115, 124, 0.22);
  width: fit-content;
  height: 32px;
  border-radius: 6px;
  margin: 0px;
  padding: 0px 14px;
  min-height: unset;
}
