@import "/styles/mixin.scss";

.myprofile_edit_navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  margin: 0 auto;

  z-index: 800;
  @include mobile {
    display: block;
    width: 100%;
  }
  @include laptop {
    display: block;
    width: 95%;
  }
  @include desktop {
    display: none;
  }
}

.navigation_container {
  position: absolute;
  width: 100%;
  border: 5px solid blue;

  @include mobile {
  }
  @include laptop {
    // width: 95%;
  }
  @include desktop {
    // width: 90%;
  }
}

.navigation {
  display: flex;
  align-items: center;

  padding: 10px;
}

.text {
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  left: 43%;
}
