@import "/styles/mixin.scss";

.main_navbar {
  @include mobile {
    display: none;
  }
  @include laptop {
    display: none;
  }
  @include desktop {
    display: block;
  }
}

.myprofile_edit_navbar {
  @include mobile {
    display: block;
  }
  @include laptop {
    display: block;
  }
  @include desktop {
    display: none;
  }
}

//

.navigation_container {
  margin: 0 auto;
  border: 5px solid red;

  @include mobile {
    width: 95%;
  }
  @include laptop {
    width: 95%;
  }
  @include desktop {
    width: 90%;
  }
}

.navigation {
  display: flex;
}
