.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  height: auto;

  overflow: visible !important;
}

.input_container {
  margin-bottom: 15px;
}
