.close_button {
  background-color: #757575;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  background-color: #b5b5b5;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  width: calc(50% - 5px);
  margin-right: 5px;
}

.confirm_button {
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  background-color: #36f;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 600;
  width: 50%;
}
