.button_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  background-color: #212121;
  text-align: center;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  animation-name: spin, float;
  animation-duration: 5000ms, 20000ms;
  animation-iteration-count: infinite, infinite;
  animation-timing-function: linear, ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes float {
  0% {
    transform: translate(100px, 200px);
  }
  5% {
    transform: translate(400px, 400px);
  }
  10% {
    transform: translate(-100px, -400px);
  }
  15% {
    transform: translate(-150px, -350px);
  }
  25% {
    transform: translate(-100px, -100px);
  }
  35% {
    transform: translate(50px, 100px);
  }
  45% {
    transform: translate(-150px, -50px);
  }
  65% {
    transform: translate(-50px, -150px);
  }
  75% {
    transform: translate(50px, -50px);
  }
  85% {
    transform: translate(150px, 50px);
  }
  95% {
    transform: translate(200px, 150px);
  }
  100% {
    transform: translate(250px, 200px);
  }
}