.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-top: 1px solid var(--gray-border);
  padding: 10px 50px;
  display: flex;
  justify-content: flex-end;
}

// button에 width를 설정하면은 버튼의 위치가 세로로 된다?
.button {
  border-radius: 10px;
  background-color: #06f;
  color: #fff;
  font-weight: 400;
  //   max-width: 300px;
  width: 150px;
  padding: 10px;
  text-align: center;

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
