// 공통
.section {
  height: 100vh;
  overflow: visible !important;
}
.overlay_container {
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  outline: none;
}

.overlay {
  background: rgba(44, 62, 80, 0.5);
  height: 100%;
}

.contents {
  height: 100%;
  margin: auto;
  background-color: #4a5167;
}
.scroll_area {
  height: 1500px;
}

.about_me_info {
  background-color: #5f7cb8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  row-gap: 15px;
}

.intro_content {
  display: flex;
  column-gap: 20px;
  width: 80%;
}
.image_box {
  width: 300px;
}

.intro_text {
  padding-top: 20px;
  font-size: 25px;
  & p:first-of-type {
    font-size: 30px;
    color: white;
    font-weight: 700;
  }

  & p:nth-of-type(2) {
    font-style: italic;
    color: white;
  }
}
