.section {
  height: 100vh;
  overflow: visible !important;
}

.home {
  background-size: cover;
  background-color: var(--section-background);
}

.overlay_container {
  height: 100%;
  // border: 5px solid #99a1ab;
  border-radius: 3px;
  overflow: hidden;
  outline: none;
}

.overlay {
  background: rgba(44, 62, 80, 0.5);
  height: 100%;
}

.section_head {
  height: 100%;
  margin: auto;
  background-color: #4a5167;
}

.user_info {
  padding: 60px;
}

.greeting_text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  color: black;
}

.user_name_text {
  font-size: 90px;
  margin: 10px 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 1;
}
