.container {
  width: calc(100% - 325px);
  margin-left: 300px;
  margin-right: 25px;
  transition: all 0.5s ease-in-out 0s;
}

.section {
  height: 100vh;
  overflow: visible !important;
}

.display_table {
  display: table;
  width: 100%;
}

.user_container {
  padding: 0 60px;
  background-color: blue;
}

.home {
  background-color: red;
  background-size: cover;
}

.overlay_container {
  height: 100%;
  border: 5px solid #3a4a5d;
  border-radius: 3px;
  overflow: hidden;
  outline: none;
}

.overlay {
  background: rgba(44, 62, 80, 0.5);
  height: 100%;
}

// aboutMe
.aboutMe {
  background-color: green;
}
