.section {
  height: 100vh;
  overflow: visible !important;
}

.overlay_container {
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  outline: none;
}

.overlay {
  background: rgba(44, 62, 80, 0.5);
  height: 100%;
}

.contents {
  height: 100%;
  margin: auto;
  background-color: #4a5167;
}

.intro_section {
  padding: 0 60px;
  background-color: blue;
  color: white;
}
