.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  margin-bottom: 20px;
  margin: 0 auto;
}

.close_button {
}

.title {
  font-size: 25px;
  font-weight: 900;

  flex-grow: 1;
  text-align: center;
}
