@import "/styles/reset.scss";

:root {
  //  navigation
  --white: #ffffff;

  // myportpolio
  --portpolio-background: #eeeeee;

  // button
  --gray-button-border: rgba(240, 236, 238, 0.8);
  --gray-button-background: hsla(225, 5%, 46%, 0.05);
  --blue-button-background: #06f;

  // hover
  --hover-background: rgba(55, 56, 60, 0.1);

  // text
  --gray-text: rgba(55, 56, 60, 0.61);
  --black-text: #000;

  //border
  --gray-border: #e0e0e0;

  // field-
  --gray-field-background: rgba(112, 115, 124, 0.05);
}
