@import "/styles/reset.scss";

:root {
  //  navigation
  --white: #ffffff;

  // myportpolio
  --portpolio-background: #eeeeee;

  // button
  --gray-button-border: rgba(240, 236, 238, 0.8);
  --gray-button-background: hsla(225, 5%, 46%, 0.05);

  // hover
  --hover-background: rgba(55, 56, 60, 0.1);

  // text
  --gray-text: rgba(55, 56, 60, 0.61);
}
