@import "/styles/mixin.scss";

.container {
  // border: 5px solid red;
  position: absolute;
  width: 250px;
  @include mobile {
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include laptop {
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include desktop {
    top: 150px;
    right: 5%;
  }
}

.myprofile_edit_container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.08),
    0 0 4px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 6px;
  list-style: none;
}

.item {
  display: flex;
  text-decoration: none;
  padding: 10px;
  color: black;
  z-index: 20;
  &:hover {
    background-color: rgba(244, 245, 249, 0.61);
    color: gray;
  }
}
