@import "/styles/mixin.scss";

// munulist
.menu_list {
  border: 5px solid pink;
  display: flex;
  @include mobile {
    flex-direction: row;
    &.remove {
      display: none;
    }
  }
  @include laptop {
    flex-direction: row;
    &.remove {
      display: none;
    }
  }
  @include desktop {
    flex-direction: column;
  }

  & li {
    cursor: pointer;
    padding: 10px;
    text-align: start;

    margin-left: 5px;
    margin-bottom: 10px;
    &:hover {
      background-color: var(--hover-background);
      transition: opacity 0.2s ease;
      border-radius: 5px;
    }
  }
}

.menu_list_divider {
  @include mobile {
    display: none;
  }
  @include laptop {
    display: none;
  }
  @include desktop {
    display: black;
  }
}
.text {
  font-size: 20px;
}
